@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 400px;
    padding: 22px 20px;
}

form h2 {
    font-size: 18px;
    margin-bottom: 0px;
    font-weight: 700;
    color: #4590BF;
}

.btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

form button {
    padding: 10px;
    color: white;
    width: 48%;
    border: none;
    background-color: #4590BF;
    font-size: 16px;
    cursor: pointer;
    border-radius: 35px;
}

form #close {
    text-align: center;
    text-decoration: none;
    padding: 10px;
    color: #4590BF;
    width: 48%;
    background-color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #2078af;
    border-radius: 35px;
}

form textarea {
    border-color: #CCC;
    border-radius: 5px;
    margin-bottom: 10px;
    resize: none;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

form label {
    font-size: 16px;
    cursor: pointer;
}

form input {
    cursor: pointer;
}

.toggle {
    display: flex;
}

.toggle button {
    background-color: #FFFFFF;
    display: flex;
    width: 50%;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    border: 1px solid #4590BF;
    margin-bottom: 10px;
}

.active {
    background-color: #4590BF !important;
    color: white !important;
}

.section-none {
    display: none !important;
}

.pao-tipo {
    display: flex;
    justify-content: space-between;
}

.pao-tipo label {
    margin: 10px 0;
    height: 100px;
    font-size: 20px;
    border: 1px solid #CCC;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
}

.pao-tipo-ativo label {
    border: 2px solid rgb(17, 204, 17);
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 1px solid #b9b2b2;
    outline: 0;
}

.hide {
    display: none;
}

#loading, #success {
    width: 60px !important;
    position: relative;
}

#loading img, svg {
    width: 60px !important;
    position: absolute;
    top: 45vw;
    left: 36vw;
    background: #FFFFFF75;
    border-radius: 30px;
    padding: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropbtn {
    background-color: #2078af;
    color: white;
    padding: 5px 3px;
    border-radius: 4px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    border-radius: 5px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #096eac55;
    color: white;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

#title {
    font-weight: 700;
    color: #4590BF;
}

.title-list {
    font-weight: 700;
    color: #4590BF;
}