@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 400px;
    padding: 15px 24px;
}

form h2 {
    font-size: 18px;
    margin-bottom: 0px;
}

form button {
    padding: 10px;
    width: 100%;
    color: white;
    border: none;
    background-color: #4590BF;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

form textarea {
    border-color: #CCC;
    border-radius: 5px;
    margin-bottom: 10px;
    resize: none;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

form label {
    font-size: 16px;
    cursor: pointer;
}

form input {
    cursor: pointer;
}

.toggle {
    display: flex;
}

.toggle button {
    background-color: #FFFFFF;
    display: flex;
    width: 50%;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    border: 1px solid #4590BF;
    margin-bottom: 10px;
}

.active {
    background-color: #4590BF !important;
    color: white;
}

.section-none {
    display: none !important;
}

.pao-tipo {
    display: flex;
    justify-content: space-between;
}

.pao-tipo label {
    margin: 10px 0;
    height: 100px;
    font-size: 20px;
    border: 1px solid #CCC;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
}

.pao-tipo-ativo label {
    border: 2px solid rgb(17, 204, 17);
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 1px solid #b9b2b2;
    outline: 0;
}
